
  

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--background-color-search-line) inset !important;
  box-shadow: 0 0 0 1000px var(--background-color-search-line) inset !important;
  -webkit-text-fill-color: var(--text-color);
}

.search-container {
  background: var(--background-color-search-line-cont);
  backdrop-filter: blur(30px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 106px;
  display: flex;
  align-items: center;
}

.search-line {
  max-width: 193px;
  height: 44px;
  width: 100%;
  padding-left: 40px;
  background: var(--background-color-search-line);
  color: var(--text-color);
  border-radius: 44px;
  transition: 0.3s;
  border: 0px;
  outline: none;
}

.search-line:hover {
  max-width: 400px;
  transition: 0.3s;
}
.search-line:focus{
  max-width: 400px;

}

.input-container {
  position: absolute;
  z-index: 1;
}

.search-icon-container {
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
}
@media (max-width: 460px) {
  .search-line {
    max-width: 193px;
  }

  .search-line:hover {
    max-width: 193px;
    transition: none;
  }
}
