:root{
    --background-color-main: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)),
    linear-gradient(180.47deg, rgba(251, 251, 251, 0.03) 1.1%, rgba(255, 255, 255, 0) 77.2%),
    linear-gradient(180deg, rgba(82, 187, 77, 0.06) 0%, rgba(82, 187, 77, 0) 31.76%),
    linear-gradient(180deg, rgba(82, 187, 77, 0.06) 0%, rgba(82, 187, 77, 0) 72.46%);
    --background-color-search-line-cont: rgba(255, 255, 255, 0.15);
    --background-color-search-line:rgba(30, 30, 30, 1);
    --text-color:rgba(255, 255, 255, 0.4);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background-color-search-line) inset !important;
    box-shadow: 0 0 0 1000px var(--background-color-search-line) inset !important;
    -webkit-text-fill-color: var(--text-color); 
}

.all-posts-container{
    width: 100%;
    float:right;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background: var(--background-color-main);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


