.logo {
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  width: 50px;
  height: 5%;
}

.nav-bar {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 16px;
  gap: 20px;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
   position: relative;
  width: 84px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: rotate(90deg);
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  border:none;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 7px;
  transition: left 0.25s;
}


.toggle-checkbox:checked + .toggle-switch:before {
  left: 40px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}


.header-vertical {
  height: 100vh;
  width: 60px;
  margin-left: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--header-bg);
}
.button-container{
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 28px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.4);
  border: 0px;
}
.theme-button-clicked {
  background: rgba(0, 0, 0, 0.2);
}
